@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;700&display=swap');


body {
    filter: drop-shadow(0 0 1px #000) drop-shadow(0 0 1px #000) drop-shadow(0 0 2px #000) drop-shadow(0 0 3px #000);
}

.output {
    font-family: "Cabin Condensed", sans-serif;
}

.hl-name {
    font-weight: 700;
}

.hl-content {
    font-weight: 400;
}

.icon.hl-source-type {
    border-radius: 0%;
}